
@import url(reset.css);

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #212529;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__nav {
    padding: 37px 0px 0px 0px; 
}

img {
    max-width: 100%;
}

