
@import url(reset.css);

body {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #F8F9FA;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.grand {
    padding-top: 330px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    min-height: 600px;
    background-image: url(../img/vence.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-radius: 0px 5px 5px 0px;
}

.grand__container > *:not(:last-child) {
    margin-bottom: 15px;
}

.date {
    color: #E5E5E5;
    line-height: 1.6;
    
}

.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    max-width: 605px;
    color: #F8F9FA;
}

.title:hover::after {
    content: "";
    display: block;
    width: 75%;
    height: 3px;
    background-color: #3056D3;
}


.subtitle {
    color: #E5E5E5;
    line-height: 1.6;
    max-width: 350px;
}

.unorder__list {
    max-width: 1270px;
    margin: 0 auto;
}

.unorder__list > * {
    margin-bottom: 30px;
}

.unorder__list li:not(:last-child)  {
    margin-bottom: 15px;
}

.unorder__list {
    padding: 0 0 0 30px;
    font-family: 'Inter', sans-serif;
    color: #637381;
    font-weight: 700;
    font-size: 16px;
}

.title__list {
    font-size: 26px;
    font-weight: 400;
    color: #212B36;
}

.one__list li::before {
    content: "" url(../img/svg/1.svg);
    margin-right: 10px;
    vertical-align: middle;
}

.two__list li::before {
    content: "" url(../img/svg/2.svg);
    margin-right: 10px;
    vertical-align: middle;
}

.three__list li::before {
    content: "" url(../img/svg/3.svg);
    margin-right: 10px;
    vertical-align: middle;
}

.four__list li::before {
    content: "" url(../img/svg/4.svg);
    margin-right: 10px;
    vertical-align: middle;
}

.fifth__list li::before {
    content: "" url(../img/svg/5.svg);
    margin-right: 10px;
    vertical-align: middle;
    
}

.sixth__list li::before {
    content: "" url(../img/svg/6.svg);
    margin-right: 10px;
    vertical-align: middle;
    
}


.sound {
    min-height: 560px;
    background: url(../img/speaker.png) 75% no-repeat, linear-gradient(129deg, rgba(244, 247, 255, 1) 57%, rgba(228, 234, 251, 1) 61%, rgba(216, 223, 248, 1) 78%);
}

.sound__main {
    max-width: 1195px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Inter", sans-serif;
}


.sound__block {
    padding: 145px 0px 0px 0px;
    max-width: 570px;
    
}


.sound__price {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: #3056D3;
}

.sound_ultra {
    margin-bottom: 15px;
    max-width: 470px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #212B36;
}

.sound_ultra::after{
    content: "";
    display: block;
    width: 75%;
    height: 4px;
    background-color: #3056D3;
    border-radius: 30%;
}

.sound_ultra:hover{
    color: #3056D3;
    transition: all 0.5s;
}

.sound__lorem {
    margin-bottom: 35px;
    max-width: 570px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #637381;
}

.sound__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    padding: 10px 30px;
    background: #3056D3;
    border-radius: 30px;
    display: inline-block;
}

.sound__button:hover{
    background-color: black;
    color: yellowgreen;
    transition: all 0.5s;
    box-shadow: 10px 5px 25px #3056D3;
}
